body {
            background-color: lightblue;
        }

        .bai1 h1 {
            background-color: green;
            color: white;
        }

        .bai1 p {
            background-color: yellow;
        }

        /* ===== Bài 2 ===== */
        .bai2 div {
            background-color: lightblue;
            padding: 10px;
        }

        .bai2 p {
            background-color: yellow;
        }
        .bai3 div {
        background-color: green;
        }

        div.first {
        opacity: 0.1;
        }

        div.second {
        opacity: 0.3;
        }

        div.third {
        opacity: 0.6;
        }
        .bai4 
            div {
        background: rgb(0, 128, 0);
        }

        div.first {
        background: rgba(0, 128, 0, 0.1);
        }

        div.second {
        background: rgba(0, 128, 0, 0.3);
        }

        div.third {
        background: rgba(0, 128, 0, 0.6);
        }
        