.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.bai1 p {
    font-family: Tahoma, Verdana, sans-serif;
}
.bai2 {
     font-family: Arial, sans-serif;
}
.bai3{
     font-family: Tahoma, sans-serif;
}
.bai4{
    font-family: 'Times New Roman', serif;
}
.bai5{
     font-family: Garamond, serif;
}
.bai6{
     font-family: 'Courier New', monospace;
}
.bai7{
    font-family: 'Brush Script MT', cursive;

}
.bai8{
    p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}
}
.bai9{
    p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}
}
.bai10{
    p.normal {
  font-variant: normal;
}

p.small {
  font-variant: small-caps;
}
}
.bai11{
    h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}
}
.bai12{

    h1 {
  font-size: 2.5em; /* 2.5 * 16 = 40px */
}
 font-size: 16px; /* Base font size */
h2 {
  font-size: 1.875em; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1em; /* 1 * 16 = 16px */
}
}
.bai13{

  font-size: 16px; /* Sets the root font size */


h1 {
  font-size: 2.5rem; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 1.875rem; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1rem; /* 1 * 16 = 16px */
}
}
.bai14{
    h1 {
  font-size:10vw;
}

p {
  font-size:5vw;
}
}
.bai15{
    
     font-family: "Sofia", sans-serif;
}
.bai16{
      font-family: "Trirong", serif;
}
.bai17{
     font-family: "Audiowide", sans-serif;
}
.bai18{
    h1.a {
  font-family: "Audiowide", sans-serif;
}

h1.b {
  font-family: "Sofia", sans-serif;
}

h1.c {
  font-family: "Trirong", serif;
}
}
.bai19{
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;

}
.bai20{
     font-family: "Sofia", sans-serif;
  font-size: 30px;
}
.bai21{
      font-family: "Sofia", sans-serif;
  font-size: 30px;
}.bai22{
      background-color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;  

h1 {
  font-family: Georgia, serif;
  font-size: 60px;
  color: white;
}
}
.bai23{
     font-family: Verdana, sans-serif;
  font-size: 16px;
    h1 {
  font-family: Georgia, serif;
  font-size: 46px;  
}
}
.bai24{
     font-family: "Open Sans", sans-serif;
  font-size: 16px;
    h1 {
  font-family: Merriweather, serif;
  font-size: 46px;
}
}
.bai25{
     font-family: Poppins, sans-serif;
  font-size: 16px;  
    h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 46px;  
}
}
.bai26{
     font-family: 'Fauna One', serif;
  font-size: 16px;  

    h1 {
  font-family: Cinzel, serif;
  font-size: 46px;  
}
}
.bai27{
    font-family: 'Fauna One', serif;
  font-size: 16px;  
h1 {
  font-family: Cinzel, serif;
  font-size: 46px;  
}
}
.bai28{
     font-family: 'Libre Baskerville', serif;
  font-size: 16px;  

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 46px;  
}
}
.bai29{
    p.a {
  font: 20px Arial, sans-serif;
}

p.b {
  font: italic bold 16px Arial, sans-serif;
}

p.c {
  font: italic small-caps bold 15px/30px Georgia, serif;
}
}
