h2{

    color: red;
    text-align: center;
    background-color: aquamarine;
    margin: 0px;
}
p {
    background-color: blue;
    font:initial;
    color: white;

    margin: 0px;
}
h4{
    margin: 0px;
    background-color: brown;
    font:initial;
    color: yellow;

    margin: 0px;
}