h1{

    text-align: center;
    color: #8a368a;
}

.song-list {
    border: 2px solid black;
    padding: 20px;
    line-height: 2;
}
h2{
    font-size: "14";
    margin: 10px;

}
.container {
    max-width: 1000px;     
    margin: 50px auto;   
    padding: 20px;        
    border: 2px solid #8a368a; 
    font-family: 'Times New Roman', Times, serif;
    background-color: palevioletred;
}
li{
    margin-bottom: 10px;
}