table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 2px solid #373636;
    padding: 12px;
    text-align: center;
}

tr:first-child {
    background-color: #574f9c;
    color: white;
}

tr:first-child th:first-child {
    background-color: #574f9c;
}

tr:nth-child(2) th:first-child,
tr:nth-child(3) th:first-child {
    background-color: #7e3135;
    color: white;
    width: 100px;
}

tr th:last-child {
    background-color: #574f9c;
    color: white;
}
